<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">           
             
             <table>
                <tbody>
                    <tr>
                        <td>
                            <img src="img/logo.jpg"  width="100">
                        </td>
                        <td>
                            <ul class="nav navbar-nav">
                            <li><a href="/profile2">Home</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
             </table>
        </div>
        

    </div>
</nav>