<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">           
             <img src="img/logo.jpg"  width="100">
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
        </ul>

    </div>
</nav>