<html>
	<head>
		<p>
			ID: <%= user.id %><br/>
			Username: <%= user.username %><br/>
			Name: <%= user.displayName %><br/>
			<% if (user.emails) { %>
			Email: <%= user.emails[0].value %><br/>
			<% } %>
		</p>
			<a href="/logout">Log out</a>
	</head>
		<body>
			<h1>REPORT</h1>
			<p>
				<a href="/REPORT10">依品號彙總+現銷/電商</a>
			</p>
			<p>
				<a href="/REPORT11">電商-會計收入</a>
			</p>		
			
		</body>
</html>
